.contents_editor_wrapper.curation {
  align-items: center;
  padding-bottom: 50px;
}
.curation_contents_wrapper {
  width: 100%;
}
.contents_editor_wrapper.curation.fullscreen .curation_contents_wrapper {
  background-color: #ffffff;
  overflow: auto;
}
.center_flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  width: 100%;
  max-width: 1570px;
}
.contents_editor_wrapper.curation.fullscreen .center_flex_container {
  max-width: none;
}
.curation_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  flex-basis: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  padding: 0 20px;
}
.curation_header .curation_information {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}
.curation_header .curation_information > li {
  position: relative;
  padding: 0 10px;
  font-weight: 300;
  color: #555555;
  font-size: 13px;
  text-decoration: none;
  list-style: none;
}
.curation_header .curation_information > li.operation_code {
  max-width: 150px;
}
.curation_header .curation_information > li.operation_name {
  max-width: 340px;
  font-weight: 400;
  font-size: 15px;
}
.bar_h12 {
  flex: 1px 0 0;
  width: 1px;
  height: 12px;
  background-color: #dddddd;
  padding: 0 !important;
}
.bar_color_spacing {
  flex: 4px 0 0;
  width: 4px;
  background-color: var(--b_color);
  padding: 0 !important;
}

.curation_header .curation_information > li:first-child {
  padding-left: 0;
}
.curation_header .curation_header_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.curation_header .curation_header_buttons > .btn {
  margin-left: 5px;
  flex-shrink: 0;
  flex-grow: 0;
}

.curation_contents_mid {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
  flex-basis: calc(100vh - 315px);
  height: calc(100vh - 315px);
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 500px;
}
.contents_editor_wrapper.curation.fullscreen .curation_contents_mid {
  background-color: #000000;
  padding: 0;
  flex-basis: 100vh;
  height: 100vh;
}
.contents_editor_wrapper.curation.wide .curation_contents_mid {
  background-color: #000000;
  padding: 0;
  flex-basis: calc(100vh - 200px);
  height: calc(100vh - 200px);
}
.contents_editor_wrapper.curation.wide .curation_contents_mid > .center_flex_container {
  max-width: none;
}
.curation_contents_mid .not_ready {
  font-size: 15px;
  color: #aaaaaa;
}
.curation_player_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.curation_video_player {
  position: relative;
  display: block;
  flex: 1;
  width: 100%;
  z-index: 1;
}
.curation_video_player .module_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 1;
}
.curation_video_player .module_wrapper.large {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 2 !important;
}
.curation_video_player .module_wrapper.c_2:nth-child(2) {
  width: 50%;
  height: 100%;
}
.curation_video_player .module_wrapper.c_2:nth-child(1) {
  width: 50%;
  height: 100%;
  left: 50%;
}
.curation_video_player .module_wrapper.c_3:nth-child(3) {
  width: 50%;
  height: 50%;
}
.curation_video_player .module_wrapper.c_3:nth-child(2) {
  width: 50%;
  height: 50%;
  left: 50%;
}
.curation_video_player .module_wrapper.c_3:nth-child(1) {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 0;
}
.curation_video_player .module_wrapper.c_4:nth-child(4) {
  width: 50%;
  height: 50%;
}
.curation_video_player .module_wrapper.c_4:nth-child(3) {
  width: 50%;
  height: 50%;
  left: 50%;
}
.curation_video_player .module_wrapper.c_4:nth-child(2) {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 0;
}
.curation_video_player .module_wrapper.c_4:nth-child(1) {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
}

.curation_annotation_input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex: 60px 0 0;
  padding: 0 30px 20px 30px;
  background-color: #000000;
  width: 100%;
}
.curation_annotation_input .input_wrapper {
  background-color: #ffffff;
  margin-right: 5px;
  height: 36px;
}
.curation_annotation_input .input_wrapper input[type="text"] {
  color: #555555;
  font-weight: 300;
  font-size: 13px;
}
.curation_annotation_list_wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 600px;
  width: 600px;
  height: 100%;
  min-height: 450px;
  margin-left: 20px;
  background-color: #ffffff;
}
.contents_editor_wrapper.curation.fullscreen .curation_annotation_list_wrapper {
  padding: 20px 0 0 20px;
  margin: 0;
  max-height: unset;
  width: 640px;
  background-color: #f5f5f5;
}
.contents_editor_wrapper.curation.wide .curation_annotation_list_wrapper {
  padding: 20px 0 0 20px;
  margin: 0;
  max-height: unset;
  width: 640px;
  background-color: #f5f5f5;
}
.curation_annotation_list_wrapper .curation_annotation_title {
  font-size: 15px;
  padding: 10px 0;
  font-weight: 400;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
}
.curation_annotation_list_wrapper .curation_annotation_search {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 20px 20px 20px;
  height: 50px;
  background-color: #ffffff;
}
.curation_annotation_list_wrapper .curation_annotation_search .search_wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  height: 100%;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.curation_annotation_list_wrapper .curation_annotation_search .search_wrapper > img {
  margin-right: 6px;
}
.curation_annotation_list_wrapper .curation_annotation_search .search_wrapper > input[type="text"] {
  flex: 1;
}
.curation_annotation_list_wrapper .curation_annotation_phase {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 60px 0 0;
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}
.curation_annotation_list_wrapper .curation_annotation_phase .curation_annotation_phase_label {
  flex-shrink: 0;
  margin: 0 10px 0 5px;
  font-weight: 300;
  font-size: 13px;
  color: #555555;
}
.curation_annotation_list_wrapper .curation_annotation_phase .input_wrapper {
  background-color: #ffffff;
  height: 40px;
  margin-right: 4px;
}

.curation_annotation_list_wrapper .curation_annotation {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  overflow: hidden;
}

.curation_annotation_list_wrapper .curation_annotation .curation_annotation_list {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 10px;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
  width: 598px;
  min-height: 40px;
  flex-shrink: 0;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase:hover {
  background-color: #f5f5f5;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase.selected {
  background-color: #f5f5f5;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase.edit {
  background-color: #f5f5f5;
  cursor: default;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase .arrow {
  flex: 14px 0 0;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  transform-origin: center center;
  background-image: url("/img/icon/curation/arrow_open_phase.png");
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase .arrow.none {
  background-image: none;
  transform: rotate(0deg);
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase .arrow.close {
  background-image: none;
  transform: rotate(-90deg);
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase .folder {
  flex: 17px 0 0;
  width: 17px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/img/icon/curation/icon_phase.png");
  margin: 0 10px 0 15px;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase .annotation {
  flex: 1;
  font-size: 15px;
  color: #ffa00f;
  word-break: break-all;
  padding: 10px 0;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase .input_wrapper {
  background-color: #ffffff;
  margin-left: 10px;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip {
  display: flex;
  width: 598px;
  flex-direction: row;
  align-items: center;
  padding: 6px 10px 6px 10px;
  /*min-height: 60px;*/
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .check_box {
  margin-right: 10px;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip:hover {
  background-color: #f6fcff;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip.selected {
  background-color: #f5f5f5;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip.is_on {
  background-color: #f6fcff;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip.edit {
  background-color: #f5f5f5;
  cursor: default;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .arrow {
  flex: 8px 0 0;
  width: 8px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/img/icon/curation/arrow_annotation.png");
  margin: 0 10px 0 10px;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .thumbnail {
  position: relative;
  width: 71px;
  height: 40px;
  margin: 0 14px 0 0;
  background-color: #000000;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail_over_border {
  position: absolute;
  border: 1px solid #dddddd;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .information {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-height: 48px;
  padding-right: 10px;
  overflow: hidden;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .information .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*flex: 22px 0 0;*/
  /*!*height: 22px;*!*/
  min-height: 22px;
  width: 100%;
  overflow: hidden;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .information .row .input_wrapper {
  background-color: #ffffff;
  height: 22px;
  min-height: 22px;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .information .row .input_wrapper input[type="text"] {
  font-weight: 300;
  font-size: 13px;
  color: #555555;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .information .annotation {
  margin-top: 2px;
  flex: 1;
  height: auto;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .information .annotation > .text {
  width: 100%;
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
  color: #333333;
  padding-bottom: 3px;
  word-break: break-word;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip:hover .information .annotation > .text {
  color: #2e6bb8;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip.selected .information .annotation > .text {
  color: #2e6bb8;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .information .time .input_wrapper {
  flex: 30px 0 0;
  width: 30px;
  padding: 0 5px;
  margin-right: 3px;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .information .time .input_wrapper input[type="text"] {
  text-align: center;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_clip .information .time > span {
  margin-right: 7px;
  font-size: 12px;
  font-weight: 300;
}
.curation_annotation_list_wrapper .curation_annotation_list .time_text {
  font-size: 12px;
  color: #aaaaaa;
  font-weight: 300;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 10px;
}
.curation_annotation_list_wrapper .curation_annotation_list .row_phase .time_text {
  margin: 0 10px;
}
.curation_annotation_list_wrapper .curation_annotation_list .text_btn_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 5px;
}
.curation_annotation_list_wrapper .curation_annotation_list .text_btn_wrapper .text_btn_row {
  display: flex;
  flex: 0;
  flex-direction: row;
  align-items: center;
  padding: 3px 0;
}
.curation_annotation_list_wrapper .curation_annotation_list .text_btn {
  margin: 0 6px;
  cursor: pointer;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 300;
  flex-shrink: 0;
  flex-grow: 0;
  border-bottom: 1px solid transparent;
  line-height: 1.2;
}
.curation_annotation_list_wrapper .curation_annotation_list .text_btn .num {
  font-weight: 600;
}
.curation_annotation_list_wrapper .curation_annotation_list .edit .text_btn {
  color: #555555;
}
.curation_annotation_list_wrapper .curation_annotation_list .text_btn:hover {
  color: #2e6bb8 !important;
  border-bottom: 1px solid #2e6bb8;
}
.curation_annotation_list_wrapper .curation_annotation_list .text_btn.enable {
  color: #555555;
}
.curation_annotation_list_wrapper .curation_annotation_list .text_btn.disable {
  color: #dddddd;
  pointer-events: none;
}
.curation_annotation_list_wrapper .curation_annotation_list .text_btn.enable:hover {
  color: #ffa00f !important;
}
.curation_annotation_list_wrapper .curation_annotation_list .bar {
  width: 1px;
  height: 12px;
  background-color: #dddddd;
  flex-shrink: 0;
  flex-grow: 0;
}

.curation_contents_bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  margin-top: 15px;
}
.contents_editor_wrapper.curation.fullscreen .curation_contents_bottom {
  margin-top: 0;
  padding: 0;
}
.contents_editor_wrapper.curation.wide .curation_contents_bottom {
  margin-top: 0;
  padding: 0;
}
.index_list_layer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-height: 430px;
  padding: 0 10px;
  overflow-y: auto;
  min-height: 155px;
}
.index_list_layer .not_ready {
  display: flex;
  flex: 1;
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  color: #aaaaaa;
  text-align: center;
  line-height: 1.4;
}
.contents_editor_wrapper.curation.fullscreen .index_list_layer {
  max-height: 500px;
  margin: 20px 20px 20px 0;
}
.contents_editor_wrapper.curation.wide .index_list_layer {
  max-height: 500px;
  margin: 20px 20px 20px 0;
}

.index_list_layer .index_list_title {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #555555;
  font-weight: 400;
}
.contents_editor_wrapper.curation.fullscreen .index_list_layer .index_list_title {
  text-align: left;
}
.contents_editor_wrapper.curation.wide .index_list_layer .index_list_title {
  text-align: left;
}

.index_list_layer .index_list_wrapper {
  margin-top: 15px;
  display: flex;
  width: 1100px;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  min-height: 130px;
}
.index_list_layer .index {
  position: relative;
  flex: 160px 0 0;
  overflow: hidden;
  cursor: pointer;
  height: 130px;
  margin: 0 10px;
}
.index_list_layer .index > img {
  display: block;
  width: 100%;
  height: 90px;
  object-fit: cover;
  background-color: #ffffff;
}
.index_list_layer .index > .index_time {
  width: 100%;
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  font-size: 13px;
  font-weight: 300;
}

.index_list_layer .index > .index_status {
  position: absolute;
  display: block;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
}
.index_list_layer .index > .index_status.on {
  background-color: rgba(0, 156, 223, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/img/renewal/check_icon.png");
}

.addon_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  top: 0;
  bottom: 4em;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}
.addon_container.event {
  pointer-events: all;
  cursor: pointer;
}

.addon_container .addon {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
}
.addon_container .addon.full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.addon_container .addon.active {
  pointer-events: all;
  opacity: 1;
}
.addon_container .addon.disable_event {
  pointer-events: none !important;
}
.addon_container .addon .timer_wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
}

.right_align_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.right_align_buttons.mt10 {
  margin-top: 10px;
}
.right_align_buttons > .btn {
  margin-left: 6px;
}

.comment_clip {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 0;
  background-color: #ffffff;
  width: 600px;
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
.comment_clip.in_comment {
  width: 100%;
  cursor: pointer;
}
.comment_clip.in_comment:hover {
  background-color: #fbfbfb;
}
.comment_clip .comment_clip_thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 71px;
  height: 100%;
}
.comment_clip .comment_clip_thumbnail img {
  width: 71px;
  height: 40px;
  object-fit: cover;
}
.comment_clip .comment_clip_info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 1;
}
.comment_clip .comment_clip_info .comment_clip_info_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.comment_clip .comment_clip_info .comment_clip_info_top .comment_clip_info_time {
  font-size: 12px;
  color: #aaaaaa;
  font-weight: 300;
  flex-shrink: 1;
  flex-grow: 0;
  margin-right: 10px;
  padding-right: 3px;
}
.comment_clip .comment_clip_info .comment_clip_info_top .comment_clip_info_writer {
  font-size: 13px;
  color: #aaaaaa;
  flex-shrink: 0;
}
.comment_clip .comment_clip_info .comment_clip_info_desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  font-size: 15px;
  color: #333333;
  font-weight: 400;
  word-break: break-all;
}
.comment_clip .comment_clip_delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.data_viewer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
}
.data_viewer .center_flex_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1570px;
}

.data_viewer .data_viewer_wrapper {
  flex: 1;
  padding: 0 30px;
  background-color: #ffffff;
  margin-top: 20px;
}

.data_viewer .data_viewer_wrapper .folder_navigation {
  font-weight: 300;
  font-size: 18px;
  color: #555555;
}
.data_viewer .data_viewer_wrapper .folder_navigation .folder_wrapper > span:hover:first-child {
  text-decoration: underline;
  cursor: pointer;
}
.data_viewer .data_viewer_wrapper .divider {
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
  color: #555555;
}
.data_viewer .data_viewer_wrapper .divider.flex {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
  color: #555555;
}
.data_viewer .data_viewer_wrapper .divider.no_border {
  border-bottom: none;
}
.data_viewer .data_viewer_wrapper .divider.comment {
  padding-top: 0;
  padding-bottom: 0;
}
.data_viewer .data_viewer_wrapper .divider:last-child {
  border-bottom: none;
}
.data_viewer .data_viewer_wrapper .divider .data_info {
  color: #333333;
}
.data_viewer .data_viewer_wrapper .divider .data_info .data_info_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  line-height: 2;
  font-weight: 500;
}
.data_viewer .data_viewer_wrapper .divider .data_info .data_info_title span {
  font-size: 20px;
  font-weight: 300;
  margin-right: 20px;
}
.data_viewer .data_viewer_wrapper .divider .data_info .data_info_others {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
}
.data_viewer .data_viewer_wrapper .divider .data_info .data_info_others .bar_h12 {
  margin: 0 12px;
}
.data_viewer .data_viewer_wrapper .divider .data_info .data_info_others .btn {
  margin-right: 6px;
}
.data_viewer .data_viewer_wrapper .divider .data_info .data_info_others .data_info_edit_btn_list {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
.data_viewer .data_viewer_wrapper .divider .data_info .data_info_others .data_info_edit_btn_list .btn {
  margin-right: 6px;
}

.data_viewer .data_viewer_wrapper .divider .question_info {
  width: 100%;
  padding: 20px;
  color: #333333;
  background-color: #f9f9f9;
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  line-height: 2;
  font-weight: 300;
  color: #555555;
  letter-spacing: -0.3px;
}

.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other .other_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other .other_info .basic_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other .other_info .basic_info > img {
  object-fit: none;
  object-position: left;
  padding-left: 2px;
  width: 12px;
  height: 30px;
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other .other_info .basic_info span {
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  letter-spacing: -0.3px;
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other .other_info .basic_info .updater_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  font-weight: 300;
  color: #888888;
  letter-spacing: -0.3px;
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other .other_info .basic_info .updater_info > img.list_open {
  object-position: center;
  margin-left: 10px;
  transform: rotate(90deg);
  cursor: pointer;
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other .other_info .basic_info .updater_info > img.list_open.close {
  cursor: pointer;
  margin-left: 10px;
  height: 10px;
  transform: rotate(270deg);
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other .other_info .updater_others {
  display: none;
  flex-direction: column;
  width: 100%;
  padding-right: 20px;
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other .other_info .updater_others.show {
  display: flex;
}
.data_viewer .data_viewer_wrapper .divider .question_info .question_info_other .other_info .updater_others .updater_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 13px;
  font-weight: 300;
  color: #888888;
  letter-spacing: -0.3px;
}

.data_viewer .data_viewer_wrapper .divider .data_group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.data_viewer .data_viewer_wrapper .divider .data_group .writer_thumbnail {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.data_viewer .data_viewer_wrapper .divider .data_group .writer_thumbnail > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.data_viewer .data_viewer_wrapper .divider .data_group .writer_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.data_viewer .data_viewer_wrapper .divider .data_group .writer_info .writer_name {
  cursor: pointer;
  font-size: 18px;
  color: #555555;
  margin-right: 10px;
  font-weight: 500;
}
.data_viewer .data_viewer_wrapper .divider .data_group .writer_count {
  margin-top: 4px;
  color: #555555;
  font-weight: 300;
  font-size: 15px;
}
.data_viewer .data_viewer_wrapper .divider .data_group .doc_btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.data_viewer .data_viewer_wrapper .divider .data_group .doc_btn > .btn {
  margin-left: 6px;
}
.data_viewer .data_viewer_wrapper .divider .data_document {
  font-size: 18px;
  color: #555555;
  line-height: 1.8;
}
.data_viewer .data_viewer_wrapper .divider .file_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.data_viewer .data_viewer_wrapper .divider .file_list .other_file {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  color: #555555;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 5px;
}
.data_viewer .data_viewer_wrapper .divider .file_list .other_file img {
  margin-right: 5px;
}
.small_label {
  font-size: 15px;
  font-weight: 300;
  color: #555555;
}
.data_viewer .data_viewer_wrapper .divider .file_list .image_file {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px ;
  width: 130px;
  height: 73px;
  overflow: hidden;
}
.data_viewer .data_viewer_wrapper .divider .file_list .image_file img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: scale-down;
  transform-origin: center center;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.data_viewer .data_viewer_wrapper .divider .file_list .image_file:hover img {
  transform: scale(1.2);
}
.data_viewer .data_viewer_wrapper .divider .file_list .image_name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  line-height: 1.4;
  color: #ffffff;
  word-break: break-all;
  overflow: hidden;
}
.small_label {
  font-size: 15px;
  font-weight: 300;
  color: #555555;
}
.data_viewer .data_viewer_wrapper .divider .comment_count {
  font-size: 15px;
  color: #555555;
  font-weight: 300;
}
.data_viewer .data_viewer_wrapper .divider .comment_editor {
  min-height: 250px;
  margin: 20px 0 10px 0;
}
.data_viewer .data_viewer_wrapper .divider .comment_editor.add_clip {
  margin-left: 10px;
  margin-top: 10px;
  border-left: 1px solid #dddddd;
  padding-left: 20px;
}


.annotation_tab_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 20;
  background-color: #ffffff;
  height: 26px;
}
.annotation_tab_wrapper .move_arrow {
  display: flex;
  flex: 0 0 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.annotation_tab_wrapper .move_arrow.disable {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.annotation_tab_wrapper .annotation_tab_container {
  position: relative;
  flex: 1;
  height: 26px;
  overflow: hidden;
}
.annotation_tab_wrapper .annotation_tab_container .annotation_tab_list {
  position: absolute;
  top: 0;
  left: var(--tab-left);
  height: 100%;
  display: flex;
  flex-direction: row;
  width: fit-content;
  transition-duration: 0.3s;
}

.annotation_tab_wrapper .annotation_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 var(--tab-size);
  width: var(--tab-size);
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  padding: 0 10px;
  border-radius: 4px 4px 0 0 ;
  font-weight: 400;
  font-size: 13px;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  color: #aaaaaa;
  user-select: none;
}
.annotation_tab_wrapper .annotation_tab > .user_name {
  flex-shrink: 1;
}
.annotation_tab_wrapper .annotation_tab > .annotation_count {
  flex-shrink: 0;
}
.annotation_tab_wrapper .annotation_tab.selected {
  cursor: default;
  color: #ffffff;
}
.annotation_tab_wrapper .annotation_tab_more {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 0 50px;
  width: 50px;
  font-size: 11px;
  font-weight: 400;
  color: #aaaaaa;
  padding: 4px 10px 4px 4px;
  cursor: pointer;
  overflow: visible;
}
.annotation_tab_wrapper .annotation_tab_more > span {
  line-height: 1;
  margin-top: -2px;
  margin-right: 2px;
}
.annotation_tab_wrapper .annotation_tab_more:hover {
  color: #555555;
}
.annotation_tab_wrapper .annotation_tab_more > img {
  transform-origin: center center;
  transform: rotate(-90deg);
}
.annotation_tab_wrapper .annotation_tab_more > .more_list {
  position: absolute;
  top: 16px;
  right: 0;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
  min-width: 100px;
  overflow: hidden;
  display: none;
}
.annotation_tab_wrapper .annotation_tab_more > .more_list.on {
  display: block;
}
.annotation_tab_wrapper .annotation_tab_more > .more_list .more_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  color: #aaaaaa;
  padding: 0 10px;
  font-weight: 400;
}
.annotation_tab_wrapper .annotation_tab_more > .more_list .more_user:hover {
  background-color: #f5f5f5;
  color: #555555;
  font-weight: 400;
}
