@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

body, textarea, input, select {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
}
